<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Puzzle</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="app">
        <div id="menu">
            <button id="load" onclick="load_crossword()">Load Crossword</button>
            <button id="sample" onclick="load_sample_crossword()">Sample</button>
            <button @click="check_all()" id="check-all">Check all</button>
            <button id="monday" onclick="load_weekday(1)">Monday</button>
            <button id="tuesday" onclick="load_weekday(2)">tuesday</button>
            <button id="wednesday" onclick="load_weekday(3)">Wednesday</button>
            <button id="thursday" onclick="load_weekday(4)">Thursday</button>
            <button id="friday" onclick="load_weekday(5)">Friday</button>
            <button id="saturday" onclick="load_weekday(6)">Saturday</button>
            <button id="sunday" onclick="load_weekday(7)">Sunday</button>
            <button @click="toggle_night_mode()" id="toggle-night-mode">Toggle Night Mode</button>
        </div>
        <div id="notmenu">
            <div id='crossword-container' class="grid">
                <div class="row" v-for="(row, rowIndex) in grid" :key="rowIndex">
                    <div v-for="(cell, cellIndex) in row" :key="cellIndex" class="newcell cell"
                        :class="{'black-cell': cell === null}">
                        <span class="clue-index">[[find_index(rowIndex, cellIndex)]]</span>
                        <template v-if="cell !== null">
                            <input class="input-cell" ref="inputCells" :ref="'input-' + rowIndex + '-' + cellIndex"
                                type="text" maxlength="1" v-model="grid[rowIndex][cellIndex]"
                                @keydown="handle_crossword_cell_keydown($event, rowIndex, cellIndex)"
                                :data-row="rowIndex" :data-cell="cellIndex"
                                :data-solution="find_solution(rowIndex,cellIndex)">
                        </template>
                    </div>
                </div>
            </div>
            <div id="hint-container">
                <h2 style="text-align: left;margin:0;">Across</h2>
                <ul id="across">
                    <li v-for="word in crossword" v-if="word.direction === 'across'">
                        <span @click="handle_clue_click($event,word)">[[ word.index ]]. [[ word.clue ]] </span>
                        <span v-for="char in getCurrentAnswer(word)" class="state">[[char]]</span>
                    </li>
                </ul>
                <h2 style="text-align: left;margin:0;">Down</h2>
                <ul id="down">
                    <li v-for="word in crossword" :key="word" v-if="word.direction ==='down'">
                        <span @click="handle_clue_click($event,word)">[[ word.index ]]. [[ word.clue ]] </span>
                        <span v-for="char in getCurrentAnswer(word)" class="state">[[char]]</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>