/* static/styles.css */
#crossword-container {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#across{
    list-style: none;
    height: 250px;
    overflow-y: scroll;
}
#down{
    list-style: none;
    height: 250px;
    overflow-y: scroll;
}
#app-container{
    display:flex;
}
#hint-container{
    display:flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    flex-direction: column;
}
.hint {
    position: absolute; /* Positions the hint element absolutely within its parent .cell */
    top: 2px; /* 2px from the top of the cell */
    left: 2px; /* 2px from the left of the cell */
    font-size: 10px; /* Smaller font size for the hint */
    color: #888;
    font-weight: bold;/* Optional: Changes the color to distinguish it from the main content */
}

.cell {
        position: relative; /* Sets up the .cell to be a positioning context for absolutely positioned children */

    font-weight: bold;/* Optional: Changes the color to distinguish it from the main content */
    border: 1px solid #000;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    text-align: center;
    vertical-align: middle;
    font-size: 20px; /* Adjust size as needed */
    display:flex;
    justify-content: center;
    align-items: center;
        text-transform: uppercase;  /* Makes all text appear uppercase */

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* styles.css */
.cell div[contenteditable="true"] {
    cursor: text;   /* Changes the cursor to indicate text can be edited */
}
.active{
    background-color: rgba(211, 211, 211, 0.56);
}

.cell div[contenteditable="true"]:focus {
    background-color: #acacac; /* Adds a light grey background to indicate focus */
    flex: 1 1 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    caret-color:transparent;
}
.black-cell {
    background-color: #000;
}

.cell div:focus {
    background-color: pink; /* Slightly pinkish color */
}
.cell div:focus-visible {
    background-color: pink;
    border: none/* Slightly pinkish color */
}

/* To hide the blinking cursor */
.cell div::selection {
    background: none;
}
/* Default light mode styles */
body {
    background-color: #fff;
    color: #333;
}
.red {
    color: red;
}
.green {
    color: green;
}
/* Night mode styles */
body.night-mode {
    background-color: #333;
    color: #fff;
}
